 <!-- 指定HDFS中NameNode的地址 -->
 <configuration>
      <property>
          <name>fs.defaultFS</name>
          <value>hdfs://HOSTNAME:9000</value>
      </property>

        <!-- 指定hadoop运行时产生文件的存储目录 -->
        <!--
        <property>
            <name>hadoop.tmp.dir</name>
            <value>/opt/module/hadoop-2.7.2/data/tmp</value>
        </property>
        -->
  </configuration>

