 <!-- ensure addr of NameNode -->
 <configuration>
      <property>
          <name>fs.defaultFS</name>
          <value>hdfs://HOSTNAME:9000</value>
      </property>

      <!-- set hadoop tmp dir -->
      <property>
          <name>hadoop.tmp.dir</name>
          <value>/usr/local/hadoop/data/tmp</value>
      </property>

  </configuration>

